*{
    margin: 0;
    padding: 0;
}
.main-container{
    background-color: black;
    color: white;
    height: 100vh;
}
.header-section{
    display: flex;
    justify-content: space-between;
    background-color: #111111;;
}
.heading{
    margin: 12px 0 11px 13px;
}
.new-post-button{
    margin: 12px 13px 11px 0;
    height: 29px;
    width: 115px;
}
#header-button{
    height: 29px;
    width: 115px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
